
# general
pardiso.lic

# chapter 2
/ch02/
/ch02/manuscript/
/ch02/data/mortatity
/ch02/data/population
/ch02/output/*.rds
/ch02/notebooks
/ch02/inla


# chapter 3
ch03/data/

# related projects
related_projects/.DS_Store
related_projects/health_inequality_project/data/.DS_Store

#  other
.Rhistory
.DS_Store
.gitignore
/related_projects