
.vscode
.gitignore
.DS_store
pardiso.lic
.Renviron
/notes

dissertation.*
!disseration.tex
!disseration.bib
~$*.*


# data
/ch0*/data
/ch03/output/data
/ch02/output/*.rds

# others
/ch02/inla
/ch03/.slackr
/ch03/src/old
/ch03/src/psid/old
/ch03/src/testing

# chapter 04
/ch04/models/MobHealthRecycling/output
/ch04/models/MobHealthRecycling/database
/ch04/models/*.autosave