
.vscode
.gitignore
.DS_store
pardiso.lic
.Renviron
/notes

!/ch04/data/cty_full_covariates.dta
!/ch04/data/nats_2013.sas7bdat
dissertation.*
!disseration.tex
!disseration.bib
~$*.*


# data
/ch0*/data
/ch03/output/data
/ch02/output/*.rds
/ch0*/models/*/output

# others
/ch02/inla
/ch03/.slackr
/ch03/src/old
/ch03/src/psid/old
/ch03/src/testing

/ch0*/models/*/output
/ch0*/models/*/database
/ch0*/models/*/*.autosave